body{
    margin: 0;
    padding: 0;
    /*background-image: url('purpledesign.webp');*/
}
#m{
    height: 100vh;
    width: 100vw;
    background: #212121;
    /* background: linear-gradient(to top right, #ff00ff 0%, #00ffcc 100%); */
    /*dark mode*//*background: linear-gradient(to top right, #000066 25%, #6600ff 79%);*/
    display: flex;
    justify-content: center;
    align-content: center;
}
.btn {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    border-radius: 5px;
    margin: 8px;
    padding: 1px;
  }

.button{
    height: 78px;
    width: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #c7c3c0;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #ffffff 1.5px 1.5px 2px 0px inset, #c7c3c0 -3.2px -3.2px 8px 0px inset;
}

.button i{
    color: #000;
    /* color: #5f5f5f; */
    padding: 0px 1px;
    font-size: 15px;
    transition: 0.1s ease-in-out;
}

.button:active{
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
    scale: 0.95;
    /* height: 80px;
    width: 80px; */
    /* padding: 10px;
    margin: 10px; */
    /* background-color: #6b983b; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 10px;
    cursor: pointer;
}
#Arth {
    background-color: #545251;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
}
#Arth i {
    transform: translateY(0.5px);
    color: #ffffff;
}
#Arth:active {
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
}

#Func {
    background-color: #545251;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
}
#Func i {
    transform: translateY(0.5px);
    color: #ffffff;
}
#Func:active {
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
}

#Num_sys {
    display: flex;
    flex-direction: column;
    background-color: #545251;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
}
#Num_sys i {
    transform: translateY(0.5px);
    color: #ffffff;
}
#Num_sys:active{
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
}
.numsys1 {
    position: relative;
    top: 20px;
}
.numsys2 {
    position: relative;
    bottom: 20px;
}
#AC{
    /* background-color: #CCFF33; */
    background: rgb(204,255,51);
    background: radial-gradient(circle, rgba(204,255,51,1) 0%, rgba(144,180,36,1) 0%, rgba(204,255,51,1) 70%);
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, 
            #e1ff66 2px 2px 10px 0px inset, 
            #aacc29 -4px -4px 1px 0px inset;
}

#AC i{
    transform: translateY(0.5px);
    color: #ffffff;
}
#AC:active{
    background-color: #CCFF33;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, 
            inset 0.5px 0.5px 4px #000000, 
            #aacc29 -3.2px -3.2px 8px 0px inset;
}
#Del{
    /* background-color: #CCFF33; */
    background: rgb(204,255,51);
    background: radial-gradient(circle, rgba(204,255,51,1) 0%, rgba(144,180,36,1) 0%, rgba(204,255,51,1) 70%);
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, 
            #e1ff66 2px 2px 10px 0px inset, 
            #aacc29 -4px -4px 1px 0px inset;
}
#Del i{
    transform: translateY(0.5px);
    color: #ffffff;
}
#Del:active{
    background-color: #CCFF33;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, 
            inset 0.5px 0.5px 4px #000000, 
            #aacc29 -3.2px -3.2px 8px 0px inset;
}
#Ans{
    /* background-color: #CCFF33; */
    background: rgb(204,255,51);
    background: radial-gradient(circle, rgba(204,255,51,1) 0%, rgba(144,180,36,1) 0%, rgba(204,255,51,1) 70%);
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, 
            #e1ff66 2px 2px 10px 0px inset, 
            #aacc29 -4px -4px 1px 0px inset;
}
#Ans i{
    transform: translateY(0.5px);
    color: #ffffff;
}
#Ans:active{
    background-color: #CCFF33;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, 
            inset 0.5px 0.5px 4px #000000, 
            #aacc29 -3.2px -3.2px 8px 0px inset;
}
/* #Del:hover{
    background-color: #d5e1df;
}
#Ans:hover{
    background-color: #d5e1df;
} */

#SD{
    background: rgb(127,152,176);
background: radial-gradient(circle, rgba(127,152,176,1) 0%, rgba(167,199,231,1) 70%);
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, 
            #c0d7f2 2px 2px 10px 0px inset, 
            #86a7c7 -4px -4px 1px 0px inset;

}
#SD i{
    transform: translateY(0.5px);
    color: #ffffff;
}
#SD:active{
    background-color: #A7C7E7;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, 
            inset 0.5px 0.5px 4px #000000, 
            #86a7c7 -3.2px -3.2px 8px 0px inset;

}

#equal{
    background: rgb(127,152,176);
background: radial-gradient(circle, rgba(127,152,176,1) 0%, rgba(167,199,231,1) 70%);
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, 
            #c0d7f2 2px 2px 10px 0px inset, 
            #86a7c7 -4px -4px 1px 0px inset;

}
#equal i{ 
    transform: translateY(0.5px);
    color: #ffffff;
}
#equal:active{
    background-color: #A7C7E7;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, 
            inset 0.5px 0.5px 4px #000000, 
            #86a7c7 -3.2px -3.2px 8px 0px inset;

}

#Calc{
    background: rgb(127,152,176);
background: radial-gradient(circle, rgba(127,152,176,1) 0%, rgba(167,199,231,1) 70%);
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, 
            #c0d7f2 2px 2px 10px 0px inset, 
            #86a7c7 -4px -4px 1px 0px inset;

}
#Calc i{
    transform: translateY(0.5px);
    color: #ffffff;
}
#Calc:active{
    background-color: #A7C7E7;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, 
            inset 0.5px 0.5px 4px #000000, 
            #86a7c7 -3.2px -3.2px 8px 0px inset;

}

#colon{
    background: rgb(127,152,176);
background: radial-gradient(circle, rgba(127,152,176,1) 0%, rgba(167,199,231,1) 70%);
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, 
            #c0d7f2 2px 2px 10px 0px inset, 
            #86a7c7 -4px -4px 1px 0px inset;

}

#colon p{
    transform: translateY(0.5px);
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
}
#colon:active{
    background-color: #A7C7E7;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, 
            inset 0.5px 0.5px 4px #000000, 
            #86a7c7 -3.2px -3.2px 8px 0px inset;

}
img {
    width: fit-content;
    height: 20%;
    object-fit: cover;
}

.x10 {
    width: fit-content;
    height: 30%;
    object-fit: cover;
}
#on{
    background-color: #d42a02;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, #fb702c 2px 2px 10px 0px inset,
    #d42a02 -4px -4px 1px 0px inset;
}
#on i {
    font-size: 20px;
    color: #ffffff;
    padding: 0px 1px;
    transition: 0.1s ease-in-out;
}
#on:active{
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #d42a02 -3.2px -3.2px 8px 0px inset;
}

#off{
    background-color: #d42a02;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px, #fb702c 2px 2px 10px 0px inset,
    #d42a02 -4px -4px 1px 0px inset;
}
#off i {
    font-size: 20px;
    color: #ffffff;
    padding: 0px 1px;
    transition: 0.1s ease-in-out;
}
#off:active{
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #d42a02 -3.2px -3.2px 8px 0px inset;
}

#main_calc{
    background-color:#545251;
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #a8a6a4 1.5px 1.5px 1px 0px inset, #545251 -3.2px -3.2px 8px 0px inset;
    border: 1px solid black;
    height: 600px;
    width: 600px;
    border-radius: 8px;
    display : flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    height: 740px;
    padding-left: 4px;
    padding-top: 5px;
}

#io{
    /*background-color: black;*/
    display : grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: 1fr;   
}

#inputdisplay{
    width: 571px;
    height: 50px;
    font-size: 24px;
    margin-left: 9px;
    margin-top: 8px;
    border-radius: 8px;
    background: #d8ebd9;
    color: #19215d;
}   

#outputdisplay{
    width: 571px;
    height: 50px;
    font-size: 24px;
    margin-left: 9px;
    margin-top: 8px;
    border-radius: 8px;
    background:#d8ebd9;
    color: #19215d;
}

#special_six{
	display : grid;
  	grid-template-rows : repeat(2 , 100px);
  	grid-template-columns : repeat(3 , 100px);
}


#righttop{
	display : grid;
  	grid-template-rows : repeat(2, 100px);
  	grid-template-columns : repeat(3, 100px);
}

#function{
	display : grid;
  	grid-template-rows : repeat(4 , 100px);
  	grid-template-columns : repeat(3 , 100px);
    /*background-color:  #0f3d0f;
    border-radius: 8px;*/
    /*position: absolute;
    top: 326px;*/
    position: static;
    top: 326px;
    /*z-index: ;*/
    /*right: 300px;*/
}

#arithmetic{
    margin-bottom: 100px;
	display : grid;
  	grid-template-rows : repeat(3 , 100px);
  	grid-template-columns : repeat(3 , 100px);
    /*background-color:  #0f3d0f;
    border-radius: 8px;*/
    /*position: static;
    top:*/
}

#modulus{
	grid-column-start: 2;
  	grid-column-end : 3;
}

#num_system{
	display : grid;
  	grid-template-rows : repeat(4 , 100px);
  	grid-template-columns : repeat(3 , 100px);
    /*background-color:  #0f3d0f;
    border-radius: 8px;*/
    /*position: absolute;
    top: 326px;*/
    position: static;
    top: 326px;
}
#num_pad{
    display : grid;
  	grid-template-rows : repeat(4 , 100px);
  	grid-template-columns : repeat(3 , 100px);
    /*position: static;
    top: 326px;*/
}

/*#arithmetic{
    display: none;
}*/

#function{
    display: none;
}

#num_system{
    display: none;
}